@media only screen and (max-width: 768px){
    .nav-link{
        width: 100%;
        text-align: center;
        background: #eeee;
        margin: 2px;
        color: #3e3e3e !important;
        border-radius: 15px; 
    }

    .btn-logout{
        width: 100%;
    }
}